<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href={~p"/favicon/apple-icon-57x57.png"}>
    <link rel="apple-touch-icon" sizes="60x60" href={~p"/favicon/apple-icon-60x60.png"}>
    <link rel="apple-touch-icon" sizes="72x72" href={~p"/favicon/apple-icon-72x72.png"}>
    <link rel="apple-touch-icon" sizes="76x76" href={~p"/favicon/apple-icon-76x76.png"}>
    <link rel="apple-touch-icon" sizes="114x114" href={~p"/favicon/apple-icon-114x114.png"}>
    <link rel="apple-touch-icon" sizes="120x120" href={~p"/favicon/apple-icon-120x120.png"}>
    <link rel="apple-touch-icon" sizes="144x144" href={~p"/favicon/apple-icon-144x144.png"}>
    <link rel="apple-touch-icon" sizes="152x152" href={~p"/favicon/apple-icon-152x152.png"}>
    <link rel="apple-touch-icon" sizes="180x180" href={~p"/favicon/apple-icon-180x180.png"}>
    <link rel="icon" type="image/png" sizes="192x192"  href={~p"/favicon/android-icon-192x192.png"}>
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/favicon/favicon-32x32.png"}>
    <link rel="icon" type="image/png" sizes="96x96" href={~p"/favicon/favicon-96x96.png"}>
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/favicon/favicon-16x16.png"}>
    <link rel="manifest" href={~p"/favicon/manifest.json"}>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Metamorphic">
      <%= assigns[:page_title] || "Metamorphic" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= cond do %>
        <% @current_user && @conn.private.plug_session["key"] -> %>
          <li class="text-[0.8125rem] leading-6 text-zinc-900">
            Hi, <.link
              navigate={~p"/users/profile/#{@current_user}"}
              class="text-brand-600 font-bold"
              title="View profile"
            ><%= decr(@current_user.username, @current_user, @conn.private.plug_session["key"]) %></.link>!
          </li>
          <li>
            <.link
              href={~p"/users/settings"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Settings
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Log out
            </.link>
          </li>
        <% @current_user && !@conn.private.plug_session["key"] -> %>
          <li>
            <span class="inline-flex items-center rounded-full bg-yellow-100 px-2 py-1 text-xs font-medium text-yellow-800">key expired</span>
          </li>
          <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Log out
            </.link>
        <% !@current_user || true -> %>
          <li>
            <.link
              href={~p"/users/register"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Register
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_in"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              Log in
            </.link>
          </li>
      <% end %>
    </ul>
    <%= @inner_content %>
  </body>
</html>
